@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

#home {
    text-align: center;
    background-image: url(https://storage.googleapis.com/novo-blog-wordpress/2019/07/capa-destaque-cerrado.jpg);
    width: 100vw;
    height: 100vh;
}

#titulo {
    padding: 20px;
    font-family: 'Tilt Prism', cursive;
    color: white;
    text-decoration: underline;
}

#caixa-texto {
    padding: 20px;
    margin: auto;
    width: 700px;
}

#texto1 {
    font-family: 'Karla', sans-serif;
    line-height: 1.5;
    font-weight: 900;
    color: white;
    font-size: 20px;
}

#btn-1 {
    font-size: 17px;
    width: 150px;
    margin: auto;
    height: 40px;
    border-radius: 50px;
    color: white;
    background-color: #D94601;

}

#conteudo-1{
    width: 100vw;
    margin: auto;
    text-align: center;
    height: 100vh;
}

#texto2 {
    text-align: center;
    padding: 20px;
    width: 900px;
    font-family: 'Karla', sans-serif;
    line-height: 1.5;
    font-size: 20px;
    font-weight: 900;
    color: rgb(77, 102, 28);
    margin: auto;
}

#titulo2 {
    text-align: center;
    text-decoration: underline;
    padding: 30px;
    font-family: 'Tilt Prism', cursive;
    color: rgb(77, 102, 28);
}

#btn-2 {
    font-size: 17px;
    width: 150px;
    margin: auto;
    height: 40px;
    border-radius: 50px;
    border: 2px solid;
    background-color: rgb(77, 102, 28);
    color: white;
}